:root {
    --accent-color: #2196f3;
    --main-text-color: #212121;
    --second-text-color: #757575;
    --button-text-color: #ffffff;
    --footer-phone-mail-color: rgba(255, 255, 255, 0.6);
    --background-team: #f5f4fa;
    --background-team-list: #ffffff;
    --footer-addres-white: #ffffff;
    --background-footer: #2f303a;
    --footer-logo-white: #ffffff;
    --hover-color-btn: #188ce8;
    --background-portfolio-btn: #f5f4fa;
    --background-page: #ffffff;
    --background-hero: #2f303a;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--main-text-color);
    background: var(--background-page);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}
p {
    margin: 0;
}
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    list-style-type: none;
    text-decoration: none;
}

.btn {
    font-family: 'Roboto';
}

.header-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    border-bottom: 1px solid #ececec;

    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: inherit;

    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-nav-link .header-link.active {
    color: var(--accent-color);
}

.header-nav-link {
    display: flex;
}

.header-nav-link .link-nav + .link-nav {
    margin-left: 50px;
}

.header-contacts {
    display: flex;
    margin-left: auto;
}

.contact-item + .contact-item {
    margin-left: 50px;
    height: 16px;
}

.header-link-contact {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.icon-mail {
    margin-right: 10px;
    fill: currentColor;
}

.icon-mobile {
    margin-right: 10px;
    fill: currentColor;
}

.header-link:hover,
.header-link:focus,
.header-link-contact:hover,
.header-link-contact:focus {
    color: var(--accent-color);
}

/* ---------------------MAIN------------------------- */

/* ---------------------HERO------------------------- */

.hero {
    background-color: var(--background-hero);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
    margin: 0 auto;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../image/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1600px;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: var(--button-text-color);
    text-transform: uppercase;

    width: 696px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;

    letter-spacing: 0.06em;

    color: var(--button-text-color);
    background-color: var(--accent-color);

    min-width: 200px;
    padding: 10px 32px;
    border: 0;
    border-radius: 4px;

    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--hover-color-btn);
}

/* Особливості */
.features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.features-list {
    display: flex;
}

.features-list-item {
    display: block;
}

.features-container {
    display: flex;
    width: 270px;
    background-color: var(--background-team);
    border-radius: 4px;
    justify-content: center;
    padding: 25px 0;
    margin-bottom: 30px;
}

.features-list .features-list-item + .features-list-item {
    margin-left: 30px;
}

.antenna::before {
    background-image: url('../image/icon/symbol-defs.svg#icon-antenna-1');
}

.features-list-item-header {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;
    min-width: 270px;
}

.features-text {
    line-height: 1.7;
    width: 270px;

    color: var(--second-text-color);
}

/* Чим ми займаємося */
/* ---------------------SERVISES------------------------- */

.servises {
    display: block;
    padding-bottom: 94px;
}
.servises-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
}

.servises-list {
    display: flex;
}

.servises-list .servises-list-item + .servises-list-item {
    margin-left: 30px;
}

/* Команда */

.team {
    background-color: var(--background-team);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}

.team-list-item {
    background-color: var(--background-team-list);
    width: 270px;
    border-radius: 0px 0px 4px 4px;
    margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list-item:nth-child(4n) {
    margin-right: 0;
}

.team-list-text {
    padding-bottom: 30px;
    padding-top: 30px;
}

.team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;

    margin-bottom: 10px;
}

.team-position {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;

    color: var(--second-text-color);
}

.team-list-social {
    display: flex;
    justify-content: center;
}

.team-social-item + .team-social-item {
    margin-left: 10px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: var(--background-page);
    fill: #afb1b8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-social-link:hover,
.team-social-link:focus {
    background-color: #2196f3;
    fill: #ffffff;
}

/* ---------------------CLIENTS------------------------- */

.clients {
    padding-top: 94px;
    padding-bottom: 94px;
}

.clients-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

    margin-bottom: 50px;
}
.clients-list {
    display: flex;
    justify-content: center;
}

.clients-list-item + .clients-list-item {
    margin-left: 30px;
}

.clients-link {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
    fill: #2196f3;
    border: 1px solid #2196f3;
}

/* ---------------------FOOTER------------------------- */

.footer {
    background-color: var(--background-footer);
}

.footer-addres-block {
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.footer-logo {
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--footer-logo-white);
}

.footer-logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--accent-color);
}

.footer-adress {
    margin-top: 20px;
}

.footer-address-map {
    text-decoration: none;
    font-style: normal;
    color: var(--footer-addres-white);
}

.footer-list-adress {
    margin-bottom: 9px;
}

.footer-list-mail {
    margin-bottom: 9px;
}

.footer-mail,
.footer-phone {
    text-decoration: none;
    font-style: normal;
    color: var(--footer-phone-mail-color);
}

.footer-social {
    width: 206px;
    margin-left: 70px;
    padding-top: 72px;
    padding-bottom: 100px;
}

.footer-social-list {
    display: flex;
}

.social-item + .social-item {
    margin-left: 10px;
}

.social-connect {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--footer-addres-white);

    margin-bottom: 20px;
}

.social-item-link {
    display: flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: #ffffff;
}

.social-item-link:hover,
.social-item-link:focus {
    background-color: #2196f3;
    fill: #ffffff;
}

/* ---------------------PORTFOLIO------------------------- */

.projects {
    padding-top: 94px;
    padding-bottom: 94px;
}

.portfolio-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.portfolio-filter-item {
    margin-right: 8px;
}

.portfolio-filter-item:last-child {
    margin-right: 0;
}

.portfolio-filter-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    background-color: var(--background-portfolio-btn);
    border: 0;
    border-radius: 4px;

    padding: 6px 22px;
    text-align: center;

    cursor: pointer;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.project-list-item {
    width: 370px;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-filter .portfolio-filter-btn.active {
    background-color: var(--hover-color-btn);
    color: var(--button-text-color);
}

.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
    color: var(--button-text-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list-item:nth-child(3n) {
    margin-right: 0;
}

.project-list-item:nth-child(n + 7) {
    margin-bottom: 0;
}

.projects-list-item-link {
    display: block;
    color: inherit;
}

.project-item-text {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
}

.project-list-header {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.project-list-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--second-text-color);
}
.projects-list-item-link:hover,
.projects-list-item-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
